<link href="https://fonts.googleapis.com/css?family=Cinzel|Libre+Baskerville|Merienda|ZCOOL+XiaoWei" rel="stylesheet">

<div class="container-fluid">
  <div class="row topbar">
    <div class="col-md-2">
      <img src="https://image.flaticon.com/icons/svg/25/25231.svg">
    </div>

    <div class="title col-md-4">
      <h1>GitHub Connect</h1>
      <h5><em>The coding Family </em></h5>
    </div>

    <div class="col-md-6">
      <nav>
        <ul>
          <li><a routerLink = '/display' routerLinkActive = 'active'>Search For A Github User</a></li>
          <hr>
          <li><a routerLink = '/repo' routerLinkActive = 'active'>Search For A User's Repository</a></li>
          <hr>
        </ul>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

